body {
  text-align: center;
  background-color: #011F3F;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #ffffff;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 20px;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8em;
  color: #ffffff;
  margin: 0 0 5 0;
}

.simon-game-rule {
  margin: 10px;
  display: inline-block;
  height: 25%;
  width: 70%;
  border: 5px solid rgba(255, 255, 255, 0.582);
  background-color: #13093ace;
  border-radius: 20px;
  padding: 3%;
}

.title-game-rule {
  color: aliceblue;
  font-family:'Segoe UI', Tahoma, sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  padding: 2px;
  margin: 0 2% 0 2%;
}

p {
  color: aliceblue;
  font-family:'Segoe UI', Tahoma, sans-serif;
  font-weight: 400;
  padding: 2%;
  margin: 2%;
  font-size: 1em;
}

.start {
  display: flex-box;
  margin: 5px;
  display: inline-flexbox;
  height: fit-content;
  width: fit-content;
  border: 3px solid rgb(255, 255, 255);
  background-color: #ffd900;
  color: #000000;
  border-radius: 6px;
  padding: 3%;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2%;
  color: #000000;
}

.btn-restart {
  display: flex-box;
  margin: 5px;
  display: inline-flexbox;
  height: fit-content;
  width: fit-content;
  border: 3px solid rgb(255, 255, 255);
  background-color: #d364ff;
  color: #000000;
  border-radius: 6px;
  padding: 2%;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2%;
  color: #000000;
}
